Source: moonlight-osmc
Section: games
Priority: optional
Maintainer: Erik Lundgren <erik@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/dodslaser/moonlight-osmc
Vcs-Git: https://github.com/dodslaser/moonlight-osmc.git
Vcs-Browser: https://github.com/dodslaser/moonlight-osmc

Package: moonlight-osmc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: moonlight-osmc
 Scripts for running moonlight-embedded on OSMC for the RaspberryPi
